
 .service-items-container a{
     text-decoration: none;
    
}

@media screen and (max-width:668px) {

    .service-items-container{
        display: flex;
        flex-direction: column;
    }
    
}