.header-container{
    margin: 1.8rem  0px;
    margin-left: 8rem;

    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;

}
.header-container a{
    text-decoration: none;
 margin-left:3.5rem;
 font-weight: 400;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 color: #1D2021;
}
.header-container a:hover{
 

 color: #0d6efd;
}
.header-links{
   margin-right: 25rem;
}
.header-title h2{
    font-size:2rem ;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 .header-title h3{
    margin-top: 0px;
    margin-left: 3.7rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    
   
}
@media screen and (max-width:668px) {

    .header-container{
       
      flex-direction: column;
      position: relative;
   margin-left: 0;
    } 
    .header-links-container a:hover{
 

        color: #0d6efd;
       }
    .menu{
        position: absolute;
        font-size: 25px;
        left: 7%;
        top: 17%;
    } 
    .hamburger-menu{
   
       
    }
    .header-title{

       
display: flex;
align-items: center;
    }
    .header-title h2{
      
font-size: 1.5rem;

    }
    .header-title h3{
        position: absolute;
        left: 28%;
font-size: 1.1rem;

    }
    .header-links{
        margin-right: 0rem;
     }
    .navLink{
        position: relative;
        display: none;
    }
    .header-links{
        display: flex;
          flex-direction: column;
          
          
    }
    .header-links-container{
       background-color: white;
       
       margin-right: 13rem;
       position: absolute;
       left: 2%;
       top: 80%;
       z-index: 100;
       border-radius: 8px;
       padding-bottom:40px ;
    }
    
    .header-links-container a{
       margin-bottom: 8px;
       padding-right:90px ;
       font-size: 1rem;
       
    }
    .login-button{
        margin-right: 12px;
    }
    
}