.home-container img{
   margin-top: 1rem;
   width: 35rem;
   height: 47rem;
   border-radius: 0.5rem
}
.home-container{
   display: flex;
   align-items:center ;
}
.main-title{
   font-weight: 500;
   position:absolute;
   font-family:Georgia, 'Times New Roman', Times, serif;
   left: 27%;
   font-size: 5.8rem;
   top: 31%;
}
.home-title h3{
   margin-top: 8rem;
   margin-left: 6rem;
}
.home-button a {
   text-decoration: none;
}
.home-button {

   
   margin-left: 12.5rem;
   
   
}
@media screen and (max-width:668px) {

   .home-container{
      flex-direction: column;
      
   }
   .home-container img{
      width: 44vh;
   }
   .main-title{
      
      font-size: 3rem;
     left: 18%;
      top: 55%;
      
   }
   .home-title h3{
    
      margin-left: 4rem;
   }

   .main-text{
      
      position: absolute;
      top: 63%;
      left: 0;
      font-size: 1.3rem;
   }
   .home-button{
      
      margin-left: 0rem;
      position: absolute;
      top: 80%;
      left: 34%;
   }
   
   
}