.login-container{
    margin-top: 6rem ;
}
.form-container{
    width: 30rem;
     margin:1.5rem auto;
}
.register-text{
    margin-left: 10rem;
    
}

@media screen and (max-width:668px) {

    .login-container {
        width: 20rem;
        margin: auto;
    }
    .form-container{
        width: 20rem;
      
      
    }
    .register-text{
        margin-left: 5rem;
        
    }
}